<div class='well row pager'>
  <%= form_for @gift, controller: :gifts, action: :create, :html => {:class => 'form-inline'} do |f| %>

    <% if @gift.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@gift.errors.count, "error") %> prohibited this gift from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @gift.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>

  <label>Pour <%= f.select :context, Gift.acceptable_contextes, {}, {:class => 'form-control input-small'} %></label>,
  <label>j'ai offert <%= f.text_field :name, :class => 'form-control input-small', placeholder: 'une tronçonneuse' %></label>
  <label>à <%= f.select :recipient, Gift.acceptable_recipients, {},{ :class => 'form-control input-small'} %></label>

  <%= f.submit "Et ça lui a plu", :class => 'btn btn-primary' %>
<% end %>
</div>
